/* background - #dfd3c3 */
/* medium - #c7b198 */
/* lightest - #f0ece2 */
/* dark color - #596e79 */


* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 70vh;
  background-image: url('./images/banner_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0vw;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 2vh;
}

/* PRODUCT CARD CSS */

.product-card {
  width: 30%;
  height: 80vh;
  background-color: #f0ece2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
  height: 50%;
  overflow: hidden;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* .product-card:hover .product-card__image img {
  transform: scale(1.05);
} */

.product-card__info {
  padding: 20px;
}

.product-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3px;
  color: var(--text-color);
}

.product-card__description {
  font-size: 0.9rem;
  color: #666;
}

.product-card__price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.product-card__price {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
}

.product-card__btn {
  background-color: #C71729;
  color: white;
  border: none;
  padding: 10px 1vh;
  border-radius: 50px;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__btn:hover {
  background-color: #bababa;
}

.product-card__btn:active {
  background-color: #666;
}

@media (max-width: 480px) {
  .cont {
    max-width: 100%;
    padding: 0 20px;
  }

  .product-card__image {
    height: 200px;
  }

  .product-card__title {
    font-size: 1.3rem;
  }

  .product-card__description {
    font-size: 0.8rem;
  }

  .product-card__price {
    font-size: 1.1rem;
  }

  .product-card__btn {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

/* COLLECTION PAGE */

.collection-page {
  width: 100%;
  min-height: 100vh;
  background-color: #dfd3c3;
  display: flex;
  padding: 0vh 1vw;
  box-sizing: border-box;
}

.size-list li {
  background-color: #f0ece2;
  font-size: 1.5vw;
}

.size-list li:active {
  background-color: #bababa;
}

/* SCROLLING TEXT EFFECT */

.scrolling-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: yellow;
}

.scrolling-text-wrapper {
  display: flex;
  align-items: 'center';
  animation: scrollText 10s linear infinite;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 2vh;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
    /* Start from right outside the container */
  }

  100% {
    transform: translateX(-100%);
    /* Move to left outside the container */
  }
}

/* FOOTER */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  margin-top: 5vh;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 22%;
  padding: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

.discount-banner {
  width: 100%;
  height: 100vh;
  background-image: url('./images/sale_img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

/* CART PAGE */
.cart-page-button{
  background-color:#ffcb8b;
  cursor:pointer;
  transition: all 0.3s ease;
  font-size: 1.5vw;
}
.cart-page-button:hover{
  background-color:#c7b198;
}
.cart-page-button:active{
  background-color:#ac957b;
}

/* CHECKOUT PAGE */
.checkout-page {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vh 3vw;
  font-family: Arial, sans-serif;
  background-color: #dfd3c3;
  box-sizing:border-box;
}

/* .order-summary {
  width: 60%;
  height: 90%;
  border: 1px solid red;
  border-right: 2px solid #ccc;
  background-color: #f0ece2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h2 {
  color: #333;
  margin-bottom: 5vh;
}

.order-list {
  list-style-type: none;
  width: 100%;
}

.order-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-name {
  font-weight: bold;
}

.order-quantity {
  color: #777;
}

.order-price {
  color: #333;
}

.total-summary {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.payment-section {
  width: 35%;
  padding: 20px;
  background-color: #f0ece2;
  box-sizing: border-box
}

.payment-method label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.payment-method input {
  margin-right: 10px;
}

.place-order-btn {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.place-order-btn:hover {
  background-color: #218838;
}

/* ORDER LIST */
.order-list {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20vh 3vw;
  box-sizing: border-box;
}

.order-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details {
  flex-grow: 1;
}

.order-details h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.order-details p {
  margin: 4px 0;
  font-size: 0.9em;
  color: #555;
}

.order-status {
  background-color: #4caf50;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8em;
  text-align: center;
}

.order-tag {
  font-weight: 600;
}

.advertisement{
  width: 30%;
  height: 30%;
  padding: 20vh 2vw;
  background-image: url('./images/ad_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* REGISTER PAGE */
.register-card{
  width: 65vw;
  height: 60vh;
  perspective: 1000px;
}
.register-card .card{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  transition: transform 0.6s;
}
.card-front{
  width: 100%;
  height: 100%; 
  position: absolute;
  background-color: #596e79;
  /* transform: rotate3d(180deg); */
  backface-visibility: hidden;
  padding: 3vh 1vw;
}
.card-back{
  width: 100%;
  height: 100%; 
  position: absolute;
  background-color: #596e79;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  padding: 3vh 1vw;
}
.input-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 3vh;
}
.input-box input{
  width: 40%;
  padding: 1vh 1vw;
  border: 1px solid black;
  outline: none;
  background-color: rgba(0, 0, 0, 0.305);
  color: white;
  font-size: 1.5vw;
}
::placeholder {
  color: #d6d6d6;
}
.flip{
  transform: rotateY(180deg);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #4444442f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f4b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}